In [11]:
# import dependencies
import pandas as pd

In [12]:
# read csv
cities = pd.read_csv("Resources/cities.csv")

In [22]:
# cheack data
cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City_ID,,,,,,,,,
0,kapaa,22.0752,-159.3190,26.99,77,40,6.17,US,1651608887
1,barrow,71.2906,-156.7887,-5.99,86,100,5.14,US,1651608707
2,busselton,-33.6500,115.3333,13.33,68,84,4.85,AU,1651608889
3,mar del plata,-38.0023,-57.5575,16.08,59,0,6.17,AR,1651608890
4,vaini,-21.2000,-175.2000,23.09,88,20,2.57,TO,1651608890

In [23]:
# convert csb to html
cities.to_html("cities.html")

In [ ]:
# finito